@inject DialogService DialogService
@inject NavigationManager NavigationManager

<RadzenDataGrid AllowVirtualization="true" TItem="Team" Data="@teams" @bind-Value=@teams GridLines="DataGridGridLines.Horizontal" RowClick="GoToTeam">
    <Columns>
        <RadzenDataGridColumn Property="@nameof(Team.Name)" Title="Name" />
        <RadzenDataGridColumn Property="@nameof(Team.League)" Title="League" />
        <RadzenDataGridColumn TextAlign="TextAlign.End">
            <Template Context="data">
                <RadzenButton Icon="delete" Click="@(() => DeleteItem(data))" @onclick:stopPropagation="true" />
            </Template>
        </RadzenDataGridColumn>
    </Columns>
</RadzenDataGrid>

<AddItem TEntity="Team" OnAdd="AddTeam"/>

<div id="confirm-dialog" class="rz-p-12 rz-text-align-center">
    <RadzenDialog />
</div>
