@page "/"
@page "/home"

@using FantaMauiApp.Components.Custom
@inject NavigationManager NavigationManager

<div class="center">
    <RadzenText Text="Gestisci il tuo budget fantamercato con facilità e strategia" TextAlign="TextAlign.Center" TextStyle="TextStyle.H3" />
    <div class ="btn-margin">
        <RadzenButton Size="ButtonSize.Large" ButtonStyle="ButtonStyle.Success" Text="Inizia subito!" Click="Start" />
    </div>
</div>


