@page "/"
@page "/home"

@using FantaMauiApp.Data
@using Model

<button @onclick="AddTeam">Add Team</button>

@foreach (var team in teams)
{
    <br />
    <label>@team.Name</label>
}

@code {
    private Team? Team { get; set; }
    private List<Team> teams = [];

    private async Task AddTeam()
    {
        Team team = new() { Name = "Test" };
        Repository<Team> repo = new(new());
        await repo.InsertAsync(team);
    }

    private async Task GetTeams()
    {
        Context dbContext = new();
        Repository<Team> repo = new(new());
        teams = await repo.GetAllAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetTeams();
    }
}